@import "~materialize-css/dist/css/materialize.min.css";

.auth-input input {
    color: #fff !important;
}

.nav-wrapper {
    padding: 0 20px;
}

.wrap-loader {
    display: flex;
    justify-content: center;
}

.center-text {
    text-align: center;
}
